extends ../layout

block content
  form(method='POST')
    legend Anmelden
    input(type='hidden', name='_csrf', value=token)
    .col-sm-8.col-sm-offset-2
      if secrets.localAuth
        .form-group
          label.control-label(for='email') Email
          input.form-control(type='text', name='email', id='email', placeholder='Email', autofocus=true)
        .form-group
          label.control-label(for='password') Passwort
          input.form-control(type='password', name='password', id='password', placeholder='Passwort')
        .form-group
          button.btn.btn-primary(type='submit')
            i.fa.fa-unlock-alt
            | Anmelden
          a.btn.btn-link(href='/forgot') Passwort vergessen?
        hr
      if secrets.facebookAuth
        a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
          i.fa.fa-facebook
          | Mit Facebook anmelden
      if secrets.twitterAuth
        a.btn.btn-block.btn-twitter.btn-social(href='/auth/twitter')
          i.fa.fa-twitter
          | Mit Twitter anmelden
      if secrets.googleAuth
        a.btn.btn-block.btn-google-plus.btn-social(href='/auth/google')
          i.fa.fa-google-plus
          | Mit Google anmelden
