extends ../layout

block content
  h1 Groups walla
  .groups
    each group in groups
      .group
        a(href='/groups/#{group._id}')= group.name
  .actions
    a.btn.btn-primary(href='/groups/new')
      | Neue Gruppe erstellen
