extends ../layout

block content
  h1 Deine Gruppen
  .actions
    a.btn.btn-small.btn-success(href='/groups/new')
      | Neue Gruppe erstellen
  .groups
    each group in userGroups
      .group
        a(href='/groups/#{group.slug}')= group.name

  h1 Alle Gruppen
  .groups
    each group in groups
      .group
        a(href='/groups/#{group.slug}')= group.name

