extends ../layout

block content
  h1 Gruppen Übersicht
  .groups
    each group in groups
      .group
        a(href='/groups/#{group.slug}')= group.name
  .actions
    a.btn.btn-primary(href='/groups/new')
      | Neue Gruppe erstellen
