extends ../layout

block content
  h1 Erfolg
  .subheader Du bist jetzt angemeldet. Tritt jetzt einer existierenden Gruppe bei oder starte eine neue Tippgemeinschaft.
  .groups
    .join-group
      h4 Bestehender Gruppe beitreten
      .info-text
        | Wenn du bereits eine Einladung erhalten hast oder einer öffentlichen Gruppe beitreten möchtest,
        | wähle einer der Gruppen aus. Für nicht öffentliche Gruppen brauchst du ein Password (du erhälst dies vom Ersteller der Gruppe).
      #join-group
        input
    .create-group
      h4 Neue Gruppe gründen
      .info-text
        | Hier kann noch bla bla hin
      a.btn.btn-success(href='/groups/new') Gruppe gründen

