#flash
  if currentPath!=='/regeln'
    .alert.alert-info
      div
        | Hey. Um die Finalrunden noch spannender zu machen haben wir ein paar Anpassungen vorgenommen: &nbsp;
        a(href='/regeln#finalrunde') Änderungen ansehen.
  if messages.error
    .alert.alert-danger.animated.fadeIn
      for error in messages.error
        div= error.msg
  if messages.info
    .alert.alert-info.animated.fadeIn
      for info in messages.info
        div= info.msg
  if messages.success
    .alert.alert-success.animated.fadeIn
      for success in messages.success
        div= success.msg