#footer
  .container
    ul.list-inline.pull-left
      li
        | © 2014
        a(href='/') &nbsp;wm-tipper.de
    ul.list-inline.pull-right
      li(class=currentPath=='/contact'?'active':undefined)
        a(href='/contact') Kontakt
      li
        a(href='#') Nutzungsbedingungen
      li
        a(href='#') Impressum
  != js('application')

