#footer
  .container
    .list-inline.pull-left
      .fb-like(data-href='https://www.facebook.com/pages/WM-Tipper/313280772168881' data-width='100' data-layout='button_count' data-action='like' data-show-faces='false' data-share='false')

    ul.list-inline.pull-right
      li(class=currentPath=='/contact'?'active':undefined)
        a(href='/contact') Kontakt
      li
        a(href='/privacy') Datenschutz
      li
        a(href='/impressum') Impressum
  script(src='/js/vendor.js')
  script(src='/js/main.js')
  if currentPath=='/erste-schritte'
    script(async, src='/js/groups/select2.min.js')
    script(async, src='/js/groups/select2_locale_de.js')
    script(async, src='/js//groups/groups-select.js')

