#footer
  .container
    ul.list-inline.pull-left
      li
        | © 2014
        a(href='/') &nbsp;wm-tipper.de
    ul.list-inline.pull-right
      li(class=currentPath=='/contact'?'active':undefined)
        a(href='/contact') Kontakt
      li
        a(href='/privacy') Privatsphäre
      li
        a(href='/impressum') Impressum
  script(src='/js/vendor.js')
  script(src='/js/main.js')
  if currentPath=='/erste-schritte'
    script(async, src='/js/groups/select2.min.js')
    script(async, src='/js/groups/select2_locale_de.js')
    script(async, src='/js//groups/groups-select.js')

