#footer
  .container
    ul.list-inline.pull-left
      li © 2014 wm-tipper.de
    ul.list-inline.pull-right
      li
        a(href='#') Nutzungsbedingungen
      li
        a(href='#') Privatssphäre
      li
        a(href='#') Kontakt
