extends ../layout

block content
  h1 Dashboard
  .dashboard

    .subheader Deine Punkte
    .subcontent= user.totalPoints






    .subheader Deine Gruppe(n)
    if userGroups.length
      .groups
        each group in userGroups
          .group
            a.btn.btn-success(href='/groups/#{group.slug}')= group.name
    else
      .groups Noch keine Mitgliedschaften.
      .actions
        a.btn.btn-success(href='/groups') Gruppe finden


    .subheader
      | Die nächsten Spiele
    p.bodytext ....




