

.matches {
  .match {
    padding: 10px;
    background-color: rgba(246,250,245,1);
    margin: 5px 0;
    width: auto;
    position: relative;
    border: 1px solid #F7F7F7;
    min-height: 85px;

    &.started {
      display: none;
      background-color: #fff;
      background-image: repeating-linear-gradient(45deg,transparent,transparent 15px,rgba(246, 250, 245, 0.7)15px,rgba(241,250,250,.7)30px);
    }

    &.running {
      background-color: rgba(175, 245, 206, 0.36);
      background-image: none;
      display: block;
    }

    &.current {
      display: block;
    }

    a.matchName {
      font-size: 16px;
    }

    .matchType {
      position: absolute;
      top: 10px;
      right: 10px;
      color: #A0A0A0;
      font-style: italic;
    }

    .matchResult {
      position: absolute;
      right: 10px;
      font-size: 16px;
      color: #A0A0A0;
      top: 30px;
      text-align: right;
    }

    .matchStatus {
      position: absolute;
      right: 10px;
      font-size: 11px;
      color: #A0A0A0;
      bottom: 10px;
      text-align: left;
    }

  }

}

ul, ol {
  padding-left: 30px;
}


.subheader {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
  margin-top: 20px;

}

.info, .backLink {
  font-size: 16px;
  margin-bottom: 10px;
}


.groups, .matches, .teams, .top10, .dashboard {
  position: relative;
  .actions {
    position: absolute;
    top: -40px;
    right: 0;
    text-align: right;
  }
}


input[type=checkbox], input[type=radio] {
  margin: 5px;
  display: block;
}

tr.you td{
  background-color: rgba(255, 255, 116, 0.33) !important;
}

.match-details {
  text-align: center;

  h1 a {
    color: #3F3F3F;
  }

}

.flag img {
  height: 30px;
  margin: 5px 10px;
  border: 1px solid #DFDFDF;
}


.groups .group {

  a {
    font-size: 16px;
  }
}


.marge10 {
  margin-top: 10px;
}

.swiper-container {
  position: relative;
}

.swiper-container, .swiper-slide {
  width: 100%;
  height: 620px;

  ul {
    padding-left: 18px;
  }

  p {
    width: 80% !important;
  }
}

.pagination {
  text-align: center;
  width: 100%;
  margin: 20px 0 0 0;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #999;
  box-shadow: 0px 1px 2px #555 inset;
  margin: 0 3px;
  cursor: pointer;
}

.swiper-active-switch {
  background: #fff;
}

.deine-tipps {
  margin-top: 10px;
  font-size: 12px;
  ul {
    padding: 0;
    list-style: none;
  }
}


.invite, .comments {
  .form-control {
    width: 50%;
  }

  .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
  }

}



.comments {
  .comment {
    background-color: #F7F7F7;
    margin: 5px 0;
    padding: 30px 10px 10px 10px;
    position: relative;

    .date {
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 10px;
      color: #A0A0A0;
    }
  }
}


.newsEntry {
  margin-bottom: 10px;
  padding: 30px 10px 10px 10px;
  background-color: #F7F7F7;
  margin: 5px 0;
  width: auto;
  position: relative;

  &.not-published {
    background-color: #DBF1FF;
  }

  .newsDate {
    font-size: 11px;
    color: #A0A0A0;
    position: absolute;
    left: 10px;
    top: 10px;
  }
}

td.userImage img {
  width: 30px;
}

.profilePoints {
  padding-right: 10px;
  font-size: 16px;
}

.nextPage {
  float: right;
}
.prevPage {
  float: left;
  margin-left: 10px;
}
