extends layout

block content
  h1 Das Tippspiel zur Fussball WM 2014
  h4 Willkommen auf WM-Tipper, dem einfachen WM Tippspiel für Büro, Freunde und Familie!


  .alert.alert-warning Wichtig! Diese Seite befindet sich momentan noch in der Entwicklung. Ihr könnt euch bereits registrieren und umschauen aber noch nicht alle Komponenten sind wirklich fertig gestellt. Sobald der WM-Tipper 100% einsatzbereit ist, entfernen wir diese Nachricht.

  p.bodytext
    | Das Fussballfieber zur Weltmeisterschaft 2014 in Brasilien greift um sich und ihr sucht nach einem Tippspiel?
    br
    | Bei WM-Tipper seid ihr genau richtig.
  p.bodytext
    | Wer wird Weltmeister, wer scheidet bereits in der Vorrunde aus? Steigt beim WM Tippspiel ein und tippt die Begegnungen der Fußball Weltmeisterschaft. Gründet eine eigene Tippgruppe und ladet Freunde ein. Tretet gegen Freunde, Kollegen oder Verwandte an und werdet Tippkönig. WM-Tipper bietet euch folgende Features:
  ul.features
    li Kostenlos, einfach und schnell - Ihr könnt sofort loslegen
    li Erstelle eigene Tippgemeinschaften und lade Deine Freunde ein
    li Ihr selbst bestimmt Regeln und Preise innerhalb der Gruppe
    li Stets aktuelle Ergebnisauswertung
    li Sei stets dabei: Logge Dich auch von unterwegs ein und halte deine Tipps stets aktuell
    li Für Mobiltelefone optimierte Webseite
    li Bleibt immer auf dem laufenden durch aktuelle News zur Fussball-WM
    li: a(href='/signup') Hier Anmelden und gleich lostippen.
