extends layout

block content
  h1 Das WM Tippspiel zur Fussball Weltmeisterschaft 2014
  h5 Willkommen auf WM-Tipper, dem einfachen WM-Tippspiel für Büros, Freunde und Familien!
  p.bodytext
    | Das Fussballfieber zur WM 2014 in Brasilien greift um sich und ihr sucht nach einem WM-Tippspiel zur Fussball-Weltmeisterschaft 2014 in Brasilien? Bei WM-Tipper seid ihr genau richtig.
  p.bodytext
    | Wer wird Weltmeister, wer scheidet bereits in der Vorrunde aus? Steigt beim WM Tippspiel ein und tippt die Begegnungen der Fußball Weltmeisterschaft. Ladet  Freunde ein oder gründet gleich eine Tippgruppe. Tretet gegen Freunde, Kollegen oder Verwandte an und werdet Tippkönig. WM-Tipper bietet euch folgende Features:
  ul.features
    li Eine einfache Punktregelung, mehr zu den Spielregeln erfahrt ihr
    li WM-Tipper ist einfach und übersichtlich
    li Ladet Freunde ein und erstelle eigene Tippgemeinschaften.
    li Setzt eigene Preise ein und gewinnt
    li Stets aktuelle Ergebnisauswertung
    li Sei stets dabei: Logge Dich auch von unterwegs ein und halte deine Tipps stets aktuell
    li Bleibt immer auf dem laufenden durch aktuelle News zur Fussball-WM
    li Bei WM-Tipper spielt ihr natürlich kostenlos.
    li: a(href='/register') Hier könnt ihr sofort loslegen.
