.matches .match {
  padding: 5px;
  background-color: #F7F7F7;
  margin: 5px 0;
  width: auto;
}

.subheader {
  font-size: 18px;
}

.groups, .matches, .teams, .top10, .dashboard {
  position: relative;
}
.groups .actions, .matches .actions, .teams .actions, .top10 .actions, .dashboard .actions {
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: right;
}

input[type=checkbox], input[type=radio] {
  margin: 5px;
  display: block;
}

tr.you td {
  background-color: rgba(255, 255, 116, 0.33) !important;
}

.match-details {
  text-align: center;
}
.match-details h1 a {
  color: #3F3F3F;
}

.flag img {
  height: 30px;
  margin: 5px 10px;
}
