extends ../layout

block content
  h1 Alle Partien
  .info
    p
      | Zum Tippen besuche bitte eine
      a(href='/groups') Gruppe

  .groups
    each match in matches
      .group
        .match= moment(match.when).calendar() + ' - ' + match.startTime + ' '
          //- i= moment(match.when).fromNow()
          br
          a(href='/matches/#{match._id}')= match.team1.name + ' - ' + match.team2.name

  .actions
    if user && user.admin
      a.btn.btn-primary(href='/matches/new')
        | Neue Partie erstellen
