extends ../layout

block content
  h1 Spielregeln

  p.lead DIE TIPPABGABE

  p.bodytext
    | Die Tippabgabe ist immer bis zum Start des zu tippenden Spiels möglich. Auch Änderungen sind solange möglich. Ab dem Beginn des Spiels kann man keine Änderungen mehr durchführen.
    br
    | Es ist auch möglich, in mehreren Tippgruppen mitzuspielen.

  br
  p.lead DAS PUNKTESYSTEM

  p.bodytext
    | Die abgegebenen Tipps werden je nach Richtigkeit mir Punkten belohnt. Es zählt immer das Endergebnis des Spiels.

  ul
    li Für richtige Tipps gibt es 3 Punkte. Hier muss das Ergebnis genau stimmen.
    li Ist das Ergebnis nicht genau, aber die Tendenz (Sieg, Niederlage oder Unentschieden) stimmt, erhältst Du einen Punkt.
    li Für komplett falsche Tipps (Ergebnis und Tendenz) gibt es keine Punkte

  br
  p.lead DAS GESAMTERGEBNIS

  p.bodytext
    | Die Gesamtplatzierung wird am Ende des Turniers ermittelt. Natürlich kannst Du jederzeit deine aktuelle Platzierung in der Gruppe ansehen. So wird die Platzierung berechnet:

  ol
    li Die endgültige Platzierung beruht auf den gewonnen Punkten. Je besser Du getippt hast, um so höher ist die Platzierung.
    li Sind die Punkte bei mehreren Spielern gleich, werden die Plätze geteilt.






