extends ../layout

block content
  h1 Alle Partien
  .groups
    each match in matches
      .group
        .match
          | #{match.when.toUTCString()}
          br
          a(href='/matches/#{match._id}')= match.team1.name + ' - ' + match.team2.name
  .actions
    a.btn.btn-primary(href='/matches/new')
      | Neue Partie erstellen
